.main-container{
    padding: 50px;
}
.submit-form{
    margin-top: 20px;
}

.pd-10{
    margin-left: 10px;
    
}
.mr-10{
    margin-top: 10px;
}

.child-component{
    padding-top: 50px;
}

.sep{
    margin-top: 10px;
    border: 1px solid red;
}
